files/testReportSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="tests" type="testsType"/>
    <xs:complexType name="ticketsType" mixed="true">
        <xs:sequence>
            <xs:element type="xs:string" name="ticket" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="suitesType" mixed="true">
        <xs:sequence>
            <xs:element type="xs:string" name="suite" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="testType">
        <xs:sequence>
            <xs:element type="xs:string" name="key"/>
            <xs:element type="xs:string" name="description"/>
            <xs:element type="ticketsType" name="tickets"/>
            <xs:element type="suitesType" name="suites"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="testsType">
        <xs:sequence>
            <xs:element type="testType" name="test" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>